@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color:rgb(50, 50, 50);
    color: white;
    font-family: 'Poppins';
    font-size: 19pt;
    text-align: center;
    align-items: center;
}

.App {
    align-items: center;
    text-align: center;
}

.login-button-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-button {
    width: 300px;
    height: 75px;
    color: white;
    font-size: 15pt;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 203, 0);
    box-shadow: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;
}

.logout-button {
    width: 300px;
    height: 75px;
    color: white;
    font-size: 20pt;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: rgb(226, 31, 31);
    box-shadow: none;
    font-weight: bold;
    margin-bottom: 50px;
    transition: box-shadow 0.5s ease;
}

.login-button:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 100);
}

.logout-button:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 100);
}

li {
    list-style: none;
}

.favorites-section {
    margin: 5vh 10vw;
    padding: 30px 30px;
    background-color: black;
    border: 5px solid white;
    border-radius: 15px;
}

.login-button,
.logout-button:hover {
    cursor: pointer;
}

.login-button-image {
    width: 40px;
}

.favorites-section {
    font-size: 12pt;
}

.top-tracks-list-item {
    margin-top: 50px;
    margin-bottom: 150px;
}

.album-image {
    width: 30vw;
    height: auto;
}

.playlist-dropdown-button {
    background-color: rgb(0, 203, 0);
    border: none;
    color: white;
    padding: 15px 10px;
    border-radius: 30px;
    margin: 5px;
    font-size: 16pt;
    font-family: 'Poppins';
    font-weight: bold;
}

.recommended-song {
    margin-top: 50px;
    margin-bottom: 100px;
}
